<h1>Authors</h1>
<p>All authors go here!</p>

<table>
	<tfoot>
		<tr>
			<td colspan="3">
            	<%= link_to "Add author", new_author_path %>
            </td>
        </tr>
    </tfoot>
    <tbody>
    	<% @authors.each do |author| %>
        	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
                <td class="description">
                	<h2><%= author.name %></h2>
                    <p>
						<%= truncate(strip_tags(author.description), length: 80) %>
                    </p>
                </td>

                <td class="actions">
                	<ul>
                    	<li><%= link_to 'Show', author %></li>
                        <li><%= link_to 'Edit', edit_author_path(author) %></li>
                        <li>
                        	<%= link_to 'Destroy',
                                        author,
                                        method: :delete,
                                        data: { confirm: 'Are you sure?' } %>
                        </li>
                    </ul>
                </td>
            </tr>
        <% end %>
   	</tbody>
</table>
