<h1>Add a Book</h1>
<p>You can add a book here or <%= link_to "get back", books_path %> to books index</p>

<%= form_with(model: @book, url: books_path) do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title, id: "book-title" %><br />

  <section class="similar-books">
      <div class="similar-books-content">

      </div>
  </section>

  <%= f.label :description %>:
  <%= f.text_area :description %><br />

  <%= f.label :publication_year %>:
  <%= f.number_field :publication_year %><br />

  <%= f.label :publication_city %>:
  <%= f.text_field :publication_city %><br />

  <%= f.label :publication_country %>:
  <%= f.text_field :publication_country %><br />

  <%= f.label :publishing_company %>:
  <%= f.text_field :publishing_company %><br />

  <%= f.label :number_of_copies %>:
  <%= f.number_field :number_of_copies %><br />

  <%= f.label :isbn %>:
  <%= f.number_field :isbn %><br />

  <%= f.submit %>
<% end %>

<style type="text/css">
  .similar-books {
    display: none;
  }

  .similar-show {
    display: block;
  }
</style>

<script>
  var book_title = document.querySelector("#book-title");
  var similar_books = document.querySelector(".similar-books");

  book_title.addEventListener("keyup", function () {
    $.ajax({
      url: '<%= check_if_book_title_exists_path %>',
      type: "GET",
      data: { title: $(book_title).val() },
      complete: function() {
        console.log("Sent to Controller");
      },
      success: function(data, textStatus, xhr) {
                   if (data['success'] == 0)
                   {
                    data['message'].forEach(function(entry) {
                      console.log(entry);
                    });
                    console.log(data['message']);
                    console.log(data);
                    console.log(similar_books);
                    similar_books.classList.add("similar-show");
                    $(document).find('.similar-books-content').html('<br>' + data['message'] + '<br>');
                   }
                   else
                   {
                    similar_books.classList.remove("similar-show");
                   }
      },
      error: function() {
            alert("Your Ajax error! message")
      }
    });
  });
</script>