<h1>Add a Book</h1>
<p>You can add a book here</p>

<%= form_for :book, url: books_path do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :publication_year %>:
  <%= f.date_field :publication_year %><br />
<% end %>